main {
  height: 100%;
}

md-toolbar {
  background-color: #93a1a1;
  color: #eee8d5
}

section {
  height: calc(100% - 64px - 24px);
  padding: 12px;
  background-color: #fdf6e3;
}

md-card {
  height: calc(100% - 48px);
  background-color: #eee8d5;
}

md-card-content {
  height: calc(100% - 56px);
}

.fill-space {
  flex: 1 1 auto;
}

.icon-target {
  padding: 0px 8px 0px 8px;
}
